      <footer class="page-footer">
        <div class="container">
        	© 2018 kfXiaochengxu | Powerd by Hexo.io
         <!--  <div class="social-icons">
          <% for (var socialItem in theme.footer_icons){ %>
              <a href="<%= theme.footer_icons[socialItem].url%>" title="<%=socialItem%>" target="_blank" rel="noopener" class="<%=theme.footer_icons[socialItem].class%>"></a>
          <% } %>
          </div> -->
        </div>
      </footer>